<nav>
    <div class="list-group" id="list-tab" role="tablist">
        <ul>
            <a class="list-group-item list-group-item-action" href="index.php"><div class="text-center">HOME</div></a>
            <a class="list-group-item list-group-item-action" href="index.php?list"><div class="text-center">MOVIES</div></a>
            <a class="list-group-item list-group-item-action" href="index.php?add"><div class="text-center">ADD A MOVIE</div></a>
            <a class="list-group-item list-group-item-action" href="index.php?listactors"><div class="text-center">ACTORS</div></a>
            <a class="list-group-item list-group-item-action" href="index.php?addactor"><div class="text-center">ADD AN ACTOR</div></a>
            <br />

        </ul>
    </div>
</nav>
